<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Login
    </button>

    <ng-container *ngIf="error$ | async as error">
        <div class="error">{{ error }}</div>
    </ng-container>

  </form>
</div>